$bg-color-hover: rgba(0, 0, 0, 0.05);
.Navbar-wrap {
    width: 244px;
    height: 100%;
    position: fixed;
    top: 56px;
    .Navbar-path {
        line-height: 40px;
        padding-left: 16px;
        height: 40px;
        color: #333;
        font-weight: bolder;
        cursor: pointer;
        &:hover {
            background-color: $bg-color-hover;
        }
    }

    .Navbar-path-focus {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.Navbar-display-none {
    display: none;
}
.Navbar-display-block {
    display: block !important;
    background-color: #fff;
}
@media (max-width: 800px) {
    .Navbar-wrap {
        display: none;
        opacity: 0.9;
    }
}
